<link rel="stylesheet" href="stylesheets/ai.css">
<div class="container">
    <div class="row">
        <div class="col-md-9">
            <canvas drawing></canvas>
        </div>
        <div class="col-md-3">
            Settings
            <p>recievedTroughSocket: {{recievedTroughSocket}}</p>
            <button ng-click="sendWithSocket('hello server')">send something</button>
        </div>
    </div>
</div>