<div class="container" style="margin-top: 50px">
    <table style="width: 100%">
        <tr>
            <td>
                Total Profit/Loss: <span ng-show="Math.floor(totalProfitLoss/10000) != 0">{{Math.floor(totalProfitLoss/10000) % 100}}<img src="/images/gold.png"></span>{{Math.floor(totalProfitLoss/100) % 100}}<img src="/images/silver-img.png">{{totalProfitLoss % 100}}<img src="images/silver-img.png">
            </td>
            <td>
                Market Investment: <span ng-show="Math.floor(totalMarketInvestment/10000) != 0">{{Math.floor(totalMarketInvestment/10000) % 100}}<img src="/images/gold.png"></span>{{Math.floor(totalMarketInvestment/100) % 100}}<img src="/images/silver-img.png">{{totalMarketInvestment % 100}}<img src="images/silver-img.png">
            </td>
            <td>
                Sales Pending: <span ng-show="Math.floor(totalPendingSales/10000) != 0">{{Math.floor(totalPendingSales/10000) % 100}}<img src="/images/gold.png"></span>{{Math.floor(totalPendingSales/100) % 100}}<img src="/images/silver-img.png">{{totalPendingSales % 100}}<img src="images/silver-img.png">
            </td>
        </tr>
    </table>
    <table style="width: 100%">
        <tr>
            Current
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                Amount Buying
            </td>
            <td>
                Amount Selling
            </td>
            <td>
                Price
            </td>
            <td>
                Total Price
            </td>
        </tr>
        <tr ng-repeat="transaction in currentTransactions" ng-class-even="'backgroundRow'">
            <td class="col-md-3">
                <img width=40px ng-src="{{transaction.imgUrl}}">
                <a href="{{'http://www.gw2spidy.com/item/' + transaction['item_id']}}">{{transaction.name}}</a>
            </td>
            <td class="col-md-3">
                {{transaction.buys}}
            </td>
            <td class="col-md-3">
                {{transaction.sells}}
            </td>
            <td>
                <span ng-show="Math.floor(transaction.price/10000) != 0">{{Math.floor(transaction.price/10000) % 100}}<img src="/images/gold.png"></span>{{Math.floor(transaction.price/100) % 100}}<img src="/images/silver-img.png">{{transaction.price % 100}}<img src="/images/copper.png">
            </td>
            <td>
                <span ng-show="Math.floor(transaction.totalPrice/10000) != 0">{{Math.floor(transaction.totalPrice/10000) % 100}}<img src="/images/gold.png"></span>{{Math.floor(transaction.totalPrice/100) % 100}}<img src="/images/silver-img.png">{{transaction.totalPrice % 100}}<img src="/images/copper.png">
            </td>
        </tr>
    </table>
    <table style="width: 100%">
        <tr>Recent</tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                Date
            </td>
            <td>
                Amount Bought
            </td>
            <td>
                Amount Sold
            </td>
            <td>
                Price
            </td>
            <td>
                Total Price
            </td>
        </tr>
        <tr ng-repeat="transaction in recentTransactions">
            <td>
                <img width=40px ng-src="{{transaction.imgUrl}}">
                <a href="{{'http://www.gw2spidy.com/item/' + transaction['item_id']}}">{{transaction.name}}</a>
            </td>
            <td>
                {{transaction.date.toLocaleString()}}
            </td>
            <td>
                {{transaction.buys}}
            </td>
            <td>
                {{transaction.sells}}
            </td>
            <td>
                <span ng-show="Math.floor(transaction.price/10000) != 0">{{Math.floor(transaction.price/10000) % 100}}<img src="/images/gold.png"></span>{{Math.floor(transaction.price/100) % 100}}<img src="/images/silver-img.png">{{transaction.price % 100}}<img src="/images/copper.png">
            </td>
            <td >
                <span ng-show="Math.floor(transaction.totalPrice/10000) != 0">{{Math.floor(transaction.totalPrice/10000) % 100}}<img src="/images/gold.png"></span>{{Math.floor(transaction.totalPrice/100) % 100}}<img src="/images/silver-img.png">{{transaction.totalPrice % 100}}<img src="/images/copper.png">
            </td>
        </tr>
    </table>
    <table style="width: 100%">

        <tr>
            History
        </tr>
        <tr>
            <td>
                Name
            </td>
            <td>
                Amount Purchased
            </td>
            <td>
                Amount Sold
            </td>
            <td>
                Total Profit/Loss
            </td>
        </tr>
        <tr ng-repeat="transaction in historyTransactions">
            <td>
                <img width=40px ng-src="{{transaction.imgUrl}}">
                <a href="{{'http://www.gw2spidy.com/item/' + transaction['item_id']}}">{{transaction.name}}</a>
            </td>
            <td>
                {{transaction.totalBought}}
            </td>
            <td>
                {{transaction.totalSold}}
            </td>
            <td>
                <span ng-show="Math.floor((transaction.totalPrice/10000).truncate()) != 0">{{Math.floor((transaction.totalPrice/10000).truncate()) % 100}}<img src="/images/gold.png"></span>{{Math.floor((transaction.totalPrice/100).truncate()) % 100}}<img src="/images/silver-img.png">{{transaction.totalPrice % 100}}<img src="/images/copper.png">
            </td>
        </tr>
    </table>
</div>