<link rel="stylesheet" href="/stylesheets/index.css">
<div>
  <div id="mainJumbotron" class="jumbotron">
    <div style="text-shadow: 2px 2px black; position: absolute; bottom: 50%; right: 0; left: 0;" class="text-center">
      <p>Designing front end,<br>hardware, and<br>everything in between.</p>
    </div>
    <div style="font-size: 30px" id="contact" class="text-center">
      <a style="color: white" href="https://www.facebook.com/anthonydresser"><i class="fa fa-facebook-square"></i></a>
      <a style="color: white" href="https://www.linkedin.com/pub/anthony-dresser/102/2a2/472"><i class="fa fa-linkedin-square"></i></a>
      <a style="color: white" href="mailto:anthonydresserdev@gmail.com"><i class="fa fa-envelope"></i></a>
    </div>
    <div id="credit">
      <h7 style="font-size: 8px">Photo taken by <a style="color: white" href="https://www.facebook.com/henry.gruenbaum">Henry Gruenbaum</a></h7>
    </div>
    <carousel id="carousel" style="background-color: black; opacity: 0.5; height: 100px; width: 100%; position: absolute; bottom: 0" interval="interval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <a href="/projects?filterBy={{slide.text}}"><h3 style="color: white">{{slide.text}}</h3></a>
      </slide>
    </carousel>
  </div>
  <div class="container">
    <div class="row">
      <h2 class="text-center">Recent work</h2>
      <div class="row">
        <div ng-repeat="project in recentProjects" class="col-md-4 col-l-4 col-s-6 col-s-offset-3 col-xs-6 col-xs-offset-3">
          <div class="text-center">
            <a ui-sref="projects({'#': project.name})"><h3>{{project.name}}</h3></a>
          </div>
          <div class="text-center">
            <p>{{project.short}}</p>
          </div>
          <div>
            <img class="img-responsive col-xs-12" ng-src="{{project.image}}">
          </div>
        </div>
      </div>
      <hr>
      <h5 class="text-center">Check out more of my work at the <a ui-sref="projects">projects page</a>.</h5>
      <hr>
    </div>
    <div class="row">
      <div class="col-lg-4 col-md-4 col-s-12 col-xs-12">
        <h2 class="text-center">Web Development</h2>
      </div>
      <div class="col-lg-4 col-md-4 col-s-12 col-xs-12">
        <h2 class="text-center">Software Engineering</h2>
      </div>
      <div class="col-lg-4 col-md-4 col-s-12 col-xs-12">
        <h2 class="text-center">Computer Engineering</h2>
      </div>
    </div>
  </div>
</div>
