<link rel="stylesheet" href="/stylesheets/index.css">
<div ng-controller="indexCtrl">
  <div id="mainJumbotron" class="jumbotron">
    <div style="text-shadow: 2px 2px black; position: absolute; bottom: 50%; right: 0; left: 0;" class="text-center">
      <p>Designing front end,<br>hardware, and<br>everything in between.</p>
    </div>
    <div id="credit">
      <h7 style="font-size: 8px">Photo taken by <a style="color: white" href="https://www.facebook.com/henry.gruenbaum">Henry Gruenbaum</a></h7>
    </div>
    <carousel id="carousel" style="background-color: black; opacity: 0.5; height: 100px; width: 100%; position: absolute; bottom: 0" interval="interval">
      <slide ng-repeat="slide in slides" active="slide.active">
        <h3 style="color: white">{{slide.text}}</h3>
      </slide>
    </carousel>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div style="background-color: grey" class="contentRow">

      </div>
    </div>
  </div>
</div>
