<div class="container-fluid">
  <div class="jumbotron">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-s-12 col-xs-12">
          <h1>{{main.name}}</h1>
          <p>{{main.short}}</p>
          <p><a class="btn btn-primary btn-md" href="{{main.link}}" role="button">Learn More</a></p>
        </div>
        <div class="col-lg-6 col-md-6 col-s-12 col-xs-12">
          <img class="img-responsive col-xs-12" ng-src="{{main.image}}">
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-9">
      <article ng-repeat="project in projects" id="{{project.name}}">
        <div class="row">
          <div class="col-md-9 col-s-12 col-xs-12">
            <h2>{{project.name}}</h4>
            <p>{{project.body}}</p>
            <div id="tags">
              <tag ng-repeat="tag in project.tags">{{tag}}</tag>
            </div>
            <p><a class="btn btn-primary btn-md" href="{{project.link}}" role="button">Use it here</a></p>
          </div>
          <div class="col-md-3 col-s-6 col-xs-6">
            <img style="margin-top: 20px" class="img-responsive" ng-src="{{project.image}}">
          </div>
        </div>
      </article>
    </div>
    <div class="col-md-3" id="rightCol">
      <h4>Quick Links</h4>
      <ul class="nav nav-stacked" id="sidebar">
        <li><a href="#visualgas">Visual Gas</a></li>
      </ul>
    </div>
  </div>
</div>
