.navbar-default .navbar-brand {
  color: #0047B2;
}

.navDropDown {
  background-color: rgba(0, 0, 0, 0.6);
}

.navbar-default.transparent .navbar-brand {
	color: white;
}

.navbar-default i {
	color: #0047B2;
}

.navbar-default.transparent i {
	color: white;
}

.navbar-default .navbar-nav>li>a {
  color: #0047B2;
}

.navbar-default.transparent .navbar-nav>li>a{
	color: white;
}

.navbar-default.transparent{
  background-color: transparent;
}

.navbar-default {
	background-color: white;
}

.jumbotron {
  position: relative;
  color: white;
  height: 60%;
}

.affix-top,.affix{
	position: static;
}

#contact {
  position: absolute;
  bottom: 100px;
  width: 100%;
}

#credit {
  position: absolute;
  bottom: 100px;
  right: 0px;
}

h3:hover {
  text-decoration: none;
}

#mainJumbotron {
  background-position: center center;
  background-size: cover;
}

.marginLeft {
	margin-left: -15px;
}

/* coursel styling */
.right.carousel-control, .left.carousel-control {
    display: none;
}

.carousel-indicators {
  display:none;
}
