.navbar-default .navbar-brand {
  color: #0047B2;
}

.navDropDown {
  background-color: rgba(0, 0, 0, 0.8);
}
.navbar-default.transparent .navbar-brand {
	color: white;
}

.navbar-default i {
	color: #0047B2;
}

.navbar-default.transparent i {
	color: white;
}

.navbar-default .navbar-nav>li>a {
  color: #0047B2;
}

.navbar-default.transparent .navbar-nav>li>a{
	color: white;
}

.navbar-default.transparent{
  background-color: transparent;
}

.navbar-default {
	background-color: white;
}

.jumbotron img {
  float: right;
  height: 100%;
  width: auto;
}

.jumbotron {
	position: relative;
  color: white;
  height: 60%;
}

.affix-top,.affix{
	position: static;
}

@media (min-width: 979px) {
  #sidebar.affix-top {
    position: static;
  	margin-top:30px;
  	width:228px;
  }

  #sidebar.affix {
    position: fixed;
    top:70px;
    width:228px;
  }
}

article img {
  width: 100%;
  height: auto;
}

#mainJumbotron {
  background-position: center center;
  background-size: cover;
}

.marginLeft {
	margin-left: -15px;
}

/* coursel styling */
.right.carousel-control, .left.carousel-control {
    display: none;
}

.carousel-indicators {
  display:none;
}
