.navbar {
  margin: 0;
  background-color: black;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
}

#brand {
  color: white;
}

#brand:hover {
  color: white;
  font-weight: bold;
}

.container-fluid {
  padding: 0;
}

#body {
  background-color: black;
  min-height: 100%;
}

.navbar-default .navbar-nav>li>a {
  color: white;
}

.navbar-default .navbar-nav>li>a:hover{
  color: white;
  font-weight: bold;
}
