<div ng-controller="dataCtrl" id="body" class="container-fluid">
  <div class="row">
    <div class="col-md-3">
      <button ng-click="addEntry()" style="background: white; border: 0; margin-top: 10px; width: 100%" class="media">
        <span class="media-center" style="width: 20px; display: block; margin-right: auto; margin-left: auto; background-color: grey; border-radius: 2px; padding: 5px;"><i class="fa fa-plus"></i></span>
      </button>
      <div ng-if="entries.length == 0 || !entries">
        <h2 class="text-center" style="color: black">You don't have any entries. Start by selecting the Add Entry button at the top</h2>
      </div>
      <div class="entry media" ng-if="entries.length > 0" ng-repeat="entry in entries">
        <div class="media-left">
          <div>{{entry.dateString}}</div>
          <div>{{entry.gallons}}</div>
          <div>{{entry.mileage}}</div>
          <div>{{entry.ppg | currency}}</div>
        </div>
        <div class="media-right media-top">
          <button ng-click="deleteEntry(entry)">
            <i class="fa fa-trash-o"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-9">
      <d3-graph data="entries" bar-height="200" bar-padding="50"></d3-graph>
    </div>
  </div>
</div>
