<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.3.0/animate.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.8/angular-ui-router.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.13.0/ui-bootstrap-tpls.min.js"></script>

  <link rel="stylesheet" href="/stylesheets/visualgas.css">
  <script src="/javascripts/visualgas/main.js"></script>
  <script src="/javascripts/visualgas/controllers/accountctrl.js"></script>
  <script src="/javascripts/visualgas/controllers/addentrymodalctrl.js"></script>
  <script src="/javascripts/visualgas/controllers/datactrl.js"></script>
  <script src="/javascripts/visualgas/controllers/homectrl.js"></script>
  <script src="/javascripts/visualgas/controllers/loginctrl.js"></script>
  <script src="/javascripts/visualgas/controllers/navctrl.js"></script>
  <script src="/javascripts/visualgas/controllers/signupctrl.js"></script>
  <script src="/javascripts/visualgas/directives/d3graphdir.js"></script>
  <script src="/javascripts/visualgas/factorys/apifact.js"></script>
  <script src="/javascripts/visualgas/factorys/d3fact.js"></script>
  <script src="/javascripts/visualgas/factorys/miscfact.js"></script>

  <title><%=title%></title>
  <base href="/visualgas/">
</head>
