<html>
<% include header %>
<body>
  <% include nav %>
  <div id="body" class="container-fluid">
    <div class="col-sm-6 col-sm-offset-3">
      <h1 style="color: white">Sign Up</h1>
      <form action"/visualgas/signup" method="post">
        <div class="form-group">
          <label style="color: white">Email</label>
          <input type="test" class="form-control" name="email">
        </div>
        <div class="form-group">
          <label style="color: white">Password</label>
          <input type="password" class="form-control" name="password">
        </div>

        <button type="submit" class="btn btn-warning btn-lg">Login</button>
      </form>

      <hr>

      <p style="color: white">Already have an account? <a href="/visualgas/login">Login</a></p>
    </div>
  </div>
</body>
</html>
