<div class="modal-header">
    <h3 class="modal-title">Add Entry</h3>
</div>
<div class="modal-body">
    <form>
      <div class="form-group">
        <input type="date" ng-model="date" class="form-control">
      </div>
      <div class="form-group">
        <label>Mileage</label>
        <input class="form-control" ng-model="mileage" placeholder="Milage">
      </div>
      <div class="form-group">
        <label>Gallons</label>
        <input class="form-control" ng-model="gallons" placeholder="Gallons">
      </div>
      <div class="form-group">
        <label>Price Per Gallon</label>
        <input class="form-control" ng-model="ppg" placeholder="Price pre gallon">
      </div>
    </form>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>
